.card {
  margin-bottom: 20px;
}

.top-10 {
  padding-top: 10px;
}

.line-text {
  line-height: 1;
}

.rotateimg {
  -webkit-animation: rotation 4s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
